/* Navigation*/

body {
    display: block;
    overflow-x: hidden;
}

nav {
    background-color: none;
}


.navbar-brand {
    font-family: "Poppins";
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 67px;
color: #000000;
}

.navbar-light .navbar-brand:hover {
    color: rgba(255, 99, 155, 0.67);
}

nav ul li a {
    font-family: "Roboto";
font-style: normal;
font-weight: lighter;
font-size: 24px;
line-height: 28px;
    color: #000000;
    margin: auto 30px;
}

.navbar-light .navbar-nav .nav-item a:hover{
    color: rgba(255, 99, 155, 0.67);
}

/* Section */


section {
    padding-top: 50px;
    padding-bottom: 50px;
}

section h1 {
    font-family: "Roboto";
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;
text-align: center;
}

.card-1 {
    width: 1227px;
height: 376px;
background: rgba(255, 208, 55, 0.1);
border-radius: 85px;
}

.card-2 {
    width: 1227px;
height: 376px;
background: rgba(207, 204, 224, 0.2);
border-radius: 85px;
}

.card-3 {
    width: 1227px;
height: 376px;
background: rgba(255, 185, 185, 0.2);
border-radius: 85px;
}

.row {
    position: relative;
    display: flex;
    margin-top: 5%;
    justify-content: center;
}


.card-header {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #000000;
}

p {
    position: relative;
    display: block;
    padding-left: 40%;
    font-family: "Mulish";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
letter-spacing: 0.01em;
color: #000000;
}

.img-fluid {
    position:relative;
    left: 5%;
    float: left;
}




.btn {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left: 15%;
    margin-top: 5%;
    width: 217px;
height: 64px;
background: #201C3A;
border-radius: 22px;
justify-content: space-evenly;
align-items: center;
font-family: "Poppins";
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 36px;
color: white;
}

.btn:hover {
    background-color:transparent;
    color: #201C3A;
    border: 2px solid #201C3A;
}

